.header {
    text-align: left;
    width: 300px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h3{
    flex: 1;
}

.clDisplay div h4 {
    flex: 1;
  margin-right: 10px;
}

.operacoes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 2px;
    width: 300px;
    height: 200px;
    border: 1px solid red;
    margin: 0 auto;
  }

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid silver;
  background-color: silver;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.clDisplay {
    border: 1px solid black;
    border-radius: 1px;
    width: 298px;
    background-color: rgb(44, 182, 147);
    padding:  1px;
    border: 1px solid red;
    margin: 0 auto;    
}

.operacoes:hover{
    background-color: silver;
    cursor: pointer;
}