.board{
    position: relative;
    width: 600px;
    height: 500px;
    border: 1 solid black;
    margin: 0 auto;
    overflow: hidden;
    background-color: cornflowerblue;
}
#pipe{
    position: absolute;
    width: 80px;
    bottom: 0;
    right: 0;
    animation: pipe-anime 2s infinite linear;
}

#mario{
    position: absolute;
    bottom: 0;
    height: 120px;
    animation: mario-jump 1s infinite;
}

#nuvem{
    position: absolute;
    width: 480px;
    top: 0;
    right: 0;
    animation: nuvem-anime 7s infinite linear;
}


@keyframes pipe-anime {
  from {
    right: -80px;
  }    
  to {
    right: 100%;
  }
}  
@keyframes mario-jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 150px;
    }
    60%{
        bottom: 150px;
    }
    160%{
        bottom: 0;
    }
}
@keyframes nuvem-anime{
    from{
        right: -480px;
    }
    to {
        right: 100%;
    }
}